<h1> URL SHORTNER </h1>
<div>
 <p> To Shorten Url(create) </p>
    <p style='margin-left:20px;'> '/urls?original=https://www.google.com' </p>
</div>
<div>
<div>
 <p> To view the shortened url and its details(read) </p>
 <p style='margin-left:20px;'> '/urls/:id'</p>
</div>
 <p> To see stats of the Url </p>
 <p style='margin-left:20px;'> '/stats/:id' </p>
</div>
<div>
 <p> To see stats of the domain</p>
 <p style='margin-left:20px;'> '/stats/domain/:domain'</p>
</div>
